.footer {
  padding: 50px 0;
  background-color: #000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__content-right {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: flex-end;
}

.nav__footer {
  display: flex;
  gap: 20px;
}

.nav-list__footer {
  flex-direction: column;
}

.nav-list__footer-title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.store-description__footer {
  width: 100%;
}

.master-info__footer {
  width: 100%;
}
