.header {
  background-color: #000;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  max-width: 170px;
}

.store-description {
  font-size: 12px;
  color: #fff;
  width: 14%;
}

.phone-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-number {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 10px;

  &:hover {
    background-color: #ad0c10;
    transition: 0.3s;
  }
}

.master-info {
  color: #fff;
  font-size: 12px;
  width: 13%;
}

.header__content-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.header__content-mobile {
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}

.header__content-mobile--visible {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list__header-mobile {
  flex-direction: column;
  display: none;
}

.nav-list__header-mobile--visible {
  display: flex;
}

.nav-list__item-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: #ad0c10;
    transition: 0.3s;
  }
}

.production-title {
  text-align: center;
}

.production-description {
  display: flex;
  align-items: center;
  border: 5px solid #000;
  padding: 20px;
}

.button-mobile {
  display: none;
}

.burger {
  display: none;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #ad0c1080;
  font-size: 20px;
  align-items: center;

  &:hover {
    background-color: #ad0c10;
    transition: 0.3s;
  }
}
